.*,
*~
*.swp
*.autosave
.qped
.directory
build.release
build.debug
build.qtc
win32build
win32install
build.xcode
applebuild
*.user
*.qm
share/manual/en
share/manual/de
Doc
DocLib
build.qt5
*.sfd~
/.project
mscore/revision.h
.DS_Store
CMakeLists.txt.user.*
vtest/html
thirdparty/mupdf-qt


build-mscore-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

build-mscore-Desktop_Qt_5_4_2_clang_64bit-Debug/mscore.app/Contents/Info.plist

build-mscore-Desktop_Qt_5_4_2_clang_64bit-Debug/mscore.app/Contents/PkgInfo

build-mscore-Desktop_Qt_5_4_2_clang_64bit-Debug/mscore.app/Contents/Resources/empty.lproj

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/MuseScore.iml

.idea/vcs.xml

.idea/workspace.xml
